@use "./variables" as *;

body {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
  background: white;
  color: $text-dark;
}

section {
  width: 100%;
  max-width: $max-width;
  margin: 0 auto;
  padding: 4rem 2rem;
}

.btn-primary {
  background: $primary;
  color: white;
  border: none;
  padding: 0.7rem 1.4rem;
  border-radius: 6px;
  cursor: pointer;
  font-weight: 600;
}

.btn-outline {
  background: transparent;
  border: 2px solid $primary;
  color: $primary;
  padding: 0.7rem 1.4rem;
  border-radius: 6px;
  cursor: pointer;
  font-weight: 600;
}
